In [1]:
import sqlite3

In [3]:
db=sqlite3.connect("stud_z")

In [4]:
cursor=db.cursor()

In [5]:
cursor.execute("create table stud_z(phone_number int, student_name text, enrolled_date text,marks int)")

In [6]:
with open('Students_details.csv','r')as file:
    no_records=0
    for row in file:
        cursor.execute("insert into stud_z values(?,?,?,?)",row.split(","))
        db.commit()
        no_records+=1
print(no_records,'records inserted')

20 records inserted

In [7]:
result=cursor.execute("select*from stud_z")
for row in result:
    print(row)

(9988776604, 'Salah', '03-10-2020', 85)
(9988776605, 'Heung-Son', '21-06-2020', 39)
(9988776606, 'Ronaldo', '08-05-2020', 86)
(9988776607, 'Kane', '11-05-2022', 57)
(9988776608, 'Mane', '17-05-2022', 52)
(6609998877, 'Vardy', '17-12-2020', 54)
(6609998878, 'Jota', '06-11-2021', 45)
(6609998879, 'Bruyne', '26-11-2020', 49)
(6609998880, 'Zaha', '05-12-2020', 88)
(6609998881, 'Sterling', '29-10-2020', 61)
(9988776614, 'Toney', '31-03-2022', 71)
(9988776615, 'Maddison', '10-03-2020', 44)
(1687799866, 'Bowen', '14-02-2021', 96)
(1687799867, 'Saka', '19-12-2022', 92)
(1687799868, 'Watkins', '30-01-2021', 49)
(1687799869, 'Mount', '16-09-2022', 48)
(1687799870, 'Raphael', '15-05-2021', 50)
(1687799871, 'Mahrez', '30-10-2021', 72)
(9988776622, 'Pukki', '19-02-2021', 93)
(9988776623, 'Fernandes', '01-03-2022', 94)

In [8]:
cursor.execute("create table data_Z(phone_number int, email_z text, course_name text,fee int)")

In [9]:
with open('DT_Students.csv','r')as file:
    no_records=0
    for row in file:
        cursor.execute("insert into data_z values(?,?,?,?)",row.split(","))
        db.commit()
        no_records+=1
print(no_records,'records inserted')

20 records inserted

In [10]:
result=cursor.execute("select*from data_z")
for row in result:
    print(row)

(9988776604, 'student4@gmail.com', 'Digital Marketing', 38000)
(9988776605, 'student5@gmail.com', 'Data Science', 133000)
(9988776606, 'student6@gmail.com', 'Data Science', 34000)
(9988776607, 'student7@gmail.com', 'Data Science', 33000)
(9988776608, 'student8@gmail.com', 'Data Science', 129000)
(9988776609, 'student9@gmail.com', 'Data Science', 40000)
(9988776610, 'student10@gmail.com', 'Data Analytics', 32500)
(9988776611, 'student11@gmail.com', 'Data Science', 41500)
(9988776612, 'student12@gmail.com', 'Digital Marketing', 31000)
(9988776613, 'student13@gmail.com', 'Digital Marketing', 23000)
(9988776614, 'student14@gmail.com', 'Data Science', 24000)
(9988776615, 'student15@gmail.com', 'Data Science', 23000)
(9988776616, 'student16@gmail.com', 'Data Science', 122500)
(9988776617, 'student17@gmail.com', 'Data Science', 29000)
(9988776618, 'student18@gmail.com', 'Data Science', 140000)
(9988776619, 'student19@gmail.com', 'Data Analytics', 32500)
(9988776620, 'student20@gmail.com', 'Inv Banking', 41500)
(9988776621, 'student21@gmail.com', 'Data Science', 131000)
(9988776622, 'student22@gmail.com', 'Data Science', 23000)
(9988776623, 'student23@gmail.com', 'Data Science', 24000)

In [13]:
sql="select data_z.phone_number,stud_z.enrolled_date,stud_z.marks,stud_z.student_name from data_z inner join stud_z on data_z.phone_number=stud_z.phone_number"

In [14]:
result=cursor.execute(sql)
for row in result:
    print(row)

(9988776604, '03-10-2020', 85, 'Salah')
(9988776605, '21-06-2020', 39, 'Heung-Son')
(9988776606, '08-05-2020', 86, 'Ronaldo')
(9988776607, '11-05-2022', 57, 'Kane')
(9988776608, '17-05-2022', 52, 'Mane')
(9988776614, '31-03-2022', 71, 'Toney')
(9988776615, '10-03-2020', 44, 'Maddison')
(9988776622, '19-02-2021', 93, 'Pukki')
(9988776623, '01-03-2022', 94, 'Fernandes')

In [15]:
sql=sql="select data_z.phone_number,stud_z.enrolled_date,stud_z.marks,stud_z.student_name from data_z left join stud_z on data_z.phone_number=stud_z.phone_number"

In [16]:
result=cursor.execute(sql)
for row in result:
    print(row)

(9988776604, '03-10-2020', 85, 'Salah')
(9988776605, '21-06-2020', 39, 'Heung-Son')
(9988776606, '08-05-2020', 86, 'Ronaldo')
(9988776607, '11-05-2022', 57, 'Kane')
(9988776608, '17-05-2022', 52, 'Mane')
(9988776609, None, None, None)
(9988776610, None, None, None)
(9988776611, None, None, None)
(9988776612, None, None, None)
(9988776613, None, None, None)
(9988776614, '31-03-2022', 71, 'Toney')
(9988776615, '10-03-2020', 44, 'Maddison')
(9988776616, None, None, None)
(9988776617, None, None, None)
(9988776618, None, None, None)
(9988776619, None, None, None)
(9988776620, None, None, None)
(9988776621, None, None, None)
(9988776622, '19-02-2021', 93, 'Pukki')
(9988776623, '01-03-2022', 94, 'Fernandes')

In [17]:
# how you can use in python

In [20]:
while True:
    try:
        ph_num=int(input('you mobile number'))
        
        if len(str(ph_num))!=10:
            print('enter valid phone_num')
            continue
        else:
            result=cursor.execute("select*from stud_z")
            for details in result:
                if details[0]==ph_num:
                    print('name:',detail[1])
                    print('doj:',detail[2])
                    print('mark:',detail[3])
                    break
            else:
                print('phone number not found in database')
                break
            break
    except:
        print('not valid number')
        continue

you mobile number526398844
enter valid phone_num
you mobile number2165498984646354
enter valid phone_num
you mobile number77998844551
enter valid phone_num
you mobile number112233665
enter valid phone_num
you mobile number9977853871
phone number not found in database

In [21]:
sql="drop table stud_z"
cursor.execute(sql)

In [22]:
sql="drop table data_z"
cursor.execute(sql)